<!Doctype html>
<title>My Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-green">
	  <a class="navbar-brand" href="#"><img class ="nav-logo" src="../static/img/logo.png"></a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
            <a class="nav-link" href="/story">Story</a>		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">About Us</a>
		      </li>
		    </ul>
	  	</div>
	</nav>

  <div class="aboutlogo" style="display:flex;justify-content:center;align-items:center;">
    <img src="../static/img/aboutus.png" style="width: 30%;height: 30%;">
  </div>
  
  <!-- columsn -->
  <div class="center" >
  <div style="margin-left:auto;margin-right:auto;">
  <div class="row" style="display:flex;justify-content:center;vertical-align: text-top; align-self: flex-start;">
    <div class="col-md-2 col-md-offset-1">
      <img src="../static/img/Fiona_Headshot.jpg" style="border-radius: 50%;width:150px; height: 150px;display:flex;justify-content:center;align-items:center;">
      <h1 style="display:flex;justify-content:center;align-items:center;">Fiona Whittington </h1>
      <h2>she/her</h2>
      <p>Fiona Whittington is the Executive Director and Founder of TechTogether, a nonprofit that works to elevate the access, exposure, and inclusion of gender-marginalized students in interdisciplinary fields of technology. When I am not at work, you can find me outside either hiking, running, or studying the neighborhood plants.</p>
      <a href="https://www.linkedin.com/in/fwhittington/"><img src="../static/img/noun_linkedin_2049762.png" style="width:40px; height: 40px;display:flex;justify-content:center;align-items:center;"></a>
      <br>
      <br>
    </div>
    <div class="col-md-2">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;display:flex;justify-content:center;align-items:center;">
      <h1 style="display:flex;justify-content:center;align-items:center;">Anum Ahmad </h1>
      <h2>she/her</h2>
      <p>Anum Ahmad is a rising junior from Princeton, NJ who loves combining her passion for coding with activism. She also enjoys volunteering and organizing hackathons, especially for gender marginalized communities. When she isn't coding or working, she's usually drinking bubble tea or reading!</p>
      <a href="https://www.linkedin.com/in/anumqahmad/"><img src="../static/img/noun_linkedin_2049762.png" style="width:40px; height: 40px;display:flex;justify-content:center;align-items:center;"></a>
      <br>
      <br>
    </div>
    <div class="col-md-2">
      <img src="../static/img/Kelly_Ly_Profile_Photo.jpg" style="border-radius: 50%;width:150px; height: 150px;display:flex;justify-content:center;align-items:center;">
      <h1 style="display:flex;justify-content:center;align-items:center;">Kelly Ly</h1>
      <h2>she/her</h2>
      <p>Kelly Ly is an undergraduate studying computer science at the University of Massachusetts Lowell. In her free time, she enjoys organizing hackathons with TechTogether, traveling to new places, and trying various cultural dishes.</p>
      <a href="https://www.linkedin.com/in/lykelly11/"><img src="../static/img/noun_linkedin_2049762.png" style="width:40px; height: 40px;display:flex;justify-content:center;align-items:center;"></a>
      <br>
      <br>
    </div>
    <div class="col-md-2">
      <img src="../static/img/lavanya.jpg" style="border-radius: 50%;width:150px; height: 150px;display:flex;justify-content:center;align-items:center;">
      <h1 style="display:flex;justify-content:center;align-items:center;">Lavanya Sharma</h1>
      <h2>she/her</h2>
      <p>Lavanya Sharma is a rising senior at North Hollywood High School, and is also one of the Executive Directors of AIHacks, Southern California's First All-Female High School Hackathon. In her free time, she enjoys skincare, competing at hackathons and getting boba with her friends. .</p>
      <a href="https://www.linkedin.com/in/lavanya26/"><img src="../static/img/noun_linkedin_2049762.png" style="width:40px; height: 40px;display:flex;justify-content:center;align-items:center;"></a>
      <br>
      <br>
    </div>
    <div class="col-md-2">
      <img src="../static/img/aswika.jpg" style="border-radius: 50%;width:150px; height: 150px;display:flex;justify-content:center;align-items:center;">
      <h1 style="display:flex;justify-content:center;align-items:center;">Aswika Manivannan</h1>
      <h2>she/her</h2>
      <p>Aswika Manivannan is an engineering student at the University of Waterloo. In her free time she enjoys learning new thing, going out with friends and reading.
      </p>
      <a href="https://www.linkedin.com/in/aswika-manivannan-5b3695187/?originalSubdomain=ca"><img src="../static/img/noun_linkedin_2049762.png" style="width:40px; height: 40px;display:flex;justify-content:center;align-items:center;"></a>
      <br>
      <br>
    </div>
</div>
  </div>
  </div>
</body>
