<!doctype html>
<title>My Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-green">
	  <a class="navbar-brand" href="#"><img class ="nav-logo" src="../static/img/logo.png"></a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
            <a class="nav-link" href="/story">Story</a>		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">About Us</a>
		      </li>
		    </ul>
	  	</div>
	</nav>

  <div class="aboutlogo" style="display:flex;justify-content:center;align-items:center;">
    <img src="../static/img/aboutus.png" style="width: 30%;height: 30%;">
  </div>
  
  <!-- columsn -->
  <div class="row" style="display:flex;justify-content:center;align-items:center;">
    <div class="col-md-2 col-md-offset-1">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;">
    </div>
    <div class="col-md-2">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;">
    </div>
    <div class="col-md-2">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;">
    </div>
    <div class="col-md-2">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;">
    </div>
    <div class="col-md-2">
      <img src="../static/img/anumahmad.jpeg" style="border-radius: 50%;width:150px; height: 150px;">
    </div>
</div>

</body>
