<!doctype html>
<title>My Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<head></head>
<body>
	<div class ="container">
		<div class ="row">
			<div class ="col-lg-6">
				<p>Test {{x}}</p>
				<img class ="logo" src="../static/img/logo.png">
			</div>
		</div>
	</div>
</body>

