<!Doctype html>
<title>My Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-green">
	  <a class="navbar-brand" href="#"><img class ="nav-logo" src="../static/img/logo.png"></a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
            <a class="nav-link" href="/story">Story</a>		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">About Us</a>
		      </li>
		    </ul>
	  	</div>
	</nav>

  <div class="aboutlogo" style="display:flex;justify-content:center;align-items:center;">
    <img src="../static/img/ourstorylogo.png" style="width: 30%;height: 30%;">
  </div>
  
  <div class ="row">
    <div class ="col-lg-2"></div>
    <div class ="col-lg-8 center">
        <p class ="home-subtitle">Made at The Data Day Grind Hackathon by MLH 
            Our team wanted to visualize data in a way that turns music into something fun! Using the Spotify and Trefle APIs we were able to take your music and let you know what plant you are!  Based on your favorite beatles song, you will be able to figue out what plant you are! We hope you enjoy 🥰.</p>
        
    </div>
    <div class ="col-lg-2"></div>
</div>
  


</body>
